$radius: 10px;

.item {
  border: 0.4px solid rgb(20, 6, 34);
  border-left: 2px solid blueviolet;
  padding: 20px 0 20px 20px;
  overflow: auto;

  &:first-child {
    border-radius: $radius $radius 0 0;
  }

  &:last-child {
    border-radius: 0 0 $radius $radius;
  }

  sub {
    bottom: 0;
  }
}

.commentCreator {
  display: inline;
  margin-right: 7px;
}

.showComments {
  cursor: pointer;
  display: inline-block;
  text-decoration: underline;

  &:hover {
    color: blueviolet;
  }
}

.commentContent {
  overflow-wrap: break-word;
  white-space: pre-line;
}

.reply {
  margin-bottom: 10px;
}
