.textBox {
  width: 100%;
}

.commentsContainer {
  padding: 15px;
}

.postContainer {
  display: flex;

  > main {
    flex-basis: 65%;
  }

  > article {
    flex-basis: 35%;
  }
}

.sortContainer {
  > i {
    cursor: pointer;
    margin: 5px;
    transition: all 0.2s;

    &:hover {
      color: green;
    }
  }

  > span {
    font-weight: 300;
  }
}

.sortSelected {
  color: greenyellow;
}
